
h2
{
    text-align: center;
    color: var(rgb(199, 137, 114));
    background-color: rgb(189, 138, 104);
    font-size: 30pt;
}
title
{
    color: var(rgb(180, 140, 120));
    text-align: center;
    font-size: 30pt;
}
h5
{
    font-style: italic;
    text-align: left-align;
    font-size: 15pt;
}
p style
{
    font-size: medium;
    text-align: left-align;
    color: var(rgb(238, 178, 156));
}
img
{
    border-radius: 20%;
    border-color:bisque;

}
