
h1
{
    text-align: center;
    color: var(coral);
    background-color: rgb(52,73,94);
    font-size: 30pt;
}
section
{
    color: var(--favcolor);
    float: right;
}
p
{
    text-align: center;
    font-size: 12pt;
}
#mainpic
{
    border-radius: 50%;
}
div.button
{
    text-align: center;
}
