body
{
  background-color: rgb(93,109,126);
  border: rgb(23,32,42);
}
h1
{
    text-align: center;
    color: var(white);
    text-decoration: underlinded;
    font-size: 30pt;
}
h2
{
    text-align: center;
    color: var(white);
    font-size: 20pt;
}
p
{
    text-align: left-aligned;
    font-size: 12pt;
    text-color: rgb(74,35,90);
}
section
{
    text-align: left-alinged;
    font-size:12pt;
    text-color: rgb(241,196,15);
}
