body
{
  background-color: rgb(217,136,128);
  border: rgb(23,32,42);
}
h1
{
    text-align: center;
    color: var(white);
    text-decoration: underlinded;
    text-color; rgb(100,30,22);
    font-size: 30pt;
}
h2
{
    text-align: center;
    color: var(white);
    font-size: 20pt;
}
h3
{
    text-align: left-alinged;
    color: var(white);
    font-size: 20pt;
}
p
{
    text-align: left-aligned;
    font-size: 14pt;
    text-color: rgb(241,196,15);
}
section
{
    border: 3px solid black;
    text-align: left-alinged;
    font-size:12pt;
    text-color: rgb(241,196,15);
}
nav
{
    text-align: left-aligned;
    font-size: 14pt;
    text-color: rgb(241,196,15);
}
date
{
    text-color: rgb(205,97,85);
}
